@charset "UTF-8";

:root {
  --orange-dark: #FF7800;
  --orange-light: #FFBC97;
  --gray-light: #F7F7F7;
  --gray-first: #E9E9E9;
  --gray-second: #D3D3D3;
  --yellow-light: #FFF5E4;
  --blue-fisrt: #0067A3;
  --blue-second: #DCE4F0;
}

body {
  background: var(--gray-light);
}

h1 {
  position: relative;
  text-align: center;
  color: #353535;
  font-size: 50px;
}

.top {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}

.middle {
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
}

.bottom {
  width: 60%;
  margin: 10px auto;
  text-align: center;
}

.middle img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.btn_concave_text {
  width: 60%;
  height: 60px;
  color: #000000;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  font-size: 120%;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  font-weight: bold;
  margin: 0 auto;
  display: inline-block;
}

.btn_concave {
  background: rgb(96,9,240);
  background: linear-gradient(0deg, var(--orange-dark) 0%, var(--orange-light) 100%);
  border: none;
  
}
.btn_concave:before {
  height: 0%;
  width: 2px;
}

.btn_concave:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

.btn_change_text {
  width: 10%;
  height: 60px;
  border-radius: 15px;
  float: right;
}

.btn_change {
  background: var(--gray-first);
  border: none;
}

.btn_change:hover {
  background: var(--gray-second);
}