@charset "UTF-8";

:root {
  --orange-dark: #FF7800;
  --orange-light: #FFBC97;
  --gray-light: #F7F7F7;
  --yellow-light: #FFF5E4;
}

body {
  background: var(--gray-light);
}

h1 {
  position: relative;
  text-align: center;
  color: #353535;
  font-size: 50px;
}

.cover {
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
}

.cover img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}

button {
  margin: 20px;
}

.custom-btn {
  width: 60%;
  height: 60px;
  color: #000000;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  font-size: 120%;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  font-weight: bold;
}

.btn-2 {
  background: rgb(96,9,240);
  background: linear-gradient(0deg, var(--orange-dark) 0%, var(--orange-light) 100%);
  border: none;
  
}
.btn-2:before {
  height: 0%;
  width: 2px;
}
.btn-2:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}